body{
  margin: 0;
  background-color: rgba(0, 0, 0, 0.85);
  color:white;
  padding-bottom: 15px;
}

#header{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

#header h1{
  font-size: 25px;
  text-decoration: underline overline;
  font-family: 'Poppins', sans-serif;
}

#header h4{
  font-size: 14px;
  border: 1px solid white;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

.divider{
  margin-left: 40px;
  width: 2px;
  height: 50px;
  background-color: white;
}

#main_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.crypto_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.10);
  margin-top: 30px;
  padding: 5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 80vw;
}

.crypto_container img{
  margin-right: 5vw;
  margin-left: 5vw;
}

.crypto_container div{
  margin-right: 10vw;
}

p{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  margin-right: 2vw;
}

h6{
  font-size: 14px;
  min-width: 10vw;
}

.picto-crypto{
  width: 60px;
  height: 60px;
}